<div class="root">
  <div >
    <div>
      <h3>Sign Up</h3>
      <div class="form-group">
          <label for="name">Enter your name</label>
          <input class="form-control"  id="name"  placeholder="Selim Dogan"  [formControl]="name"  type="text" required>
          <div class="invalid-feedback" *ngIf="name.hasError('required')">
            Name is <strong>required</strong>
          </div>
      </div>
      <div>
        <div class="form-group">
          <label for="email">Enter your email</label>
          <input class="form-control" id="email" placeholder="pat@example.com" [formControl]="email" type="text" required>
          <div class="invalid-feedback" *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
          </div>

        </div>
      </div>
      <div>
        <label for="password">Enter your password</label>
        <input class="form-control" id="password" [formControl]="password" type="password" required>
      </div>


      <div class="button">
        <button type="button" class="btn btn-primary"  (click)="signUp()">
          Sign Up
        </button>
      </div>
    </div>
    <div>
      Don't have an account? <a href="/sign-in"> Sign In</a>
    </div>
  </div>
</div>
