<div class="root">
  <div>
    <div>
      <h3>Sign In</h3>
      <div class="form-group">
        <label for="email">Enter your email</label>
        <input class="form-control" id="email" placeholder="pat@example.com" [formControl]="email" type="text" required>
        <div class="invalid-feedback" *ngIf="email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address
        </div>
      </div>
    </div>

    <div>
      <label for="password">Enter your password</label>
      <input class="form-control" id="password" [formControl]="password" type="password" required>
    </div>

    <div class="button">
      <button class="btn btn-primary" type="button" (click)="signIn()">
        Log in
      </button>
    </div>
  </div>
  <div>
    Don't have an account? <a href="/register-user"> Sign Up</a>
  </div>
</div>
